html{
	overflow-y: scroll;
}
body {
    background-color: #c5c5c5;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
.header {
	background-color: lightblue;
	width: 100%; 
	height: 240px;
	margin-bottom: -68px;
}
.header_bild{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	width: 500px; 
	height: 240px;

}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 2;
}
.menu a{
	text-align: center;	
	background-color: rgba( 0,0, 0, 0.5);
	width: 100%;
	max-width: 1280px;
	border: 1px solid black;
	border-bottom: 3px solid black;
	padding: 0.5em;
	display: block;
	text-decoration: none;
	color: white;
	font-size: 30px;

}

.menu a:hover{
	background-color: #696868;
	color: white;

}


.menu a:active{
	background-color: blue;
	color: #FF8300;
}

.about-us {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 100px;
	margin-right: 100px;
}

.about-text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 400px;
}

.pics{ 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 20px;
	margin-right: 200px;	
 }

.pang{
	margin-top: 360px;
	position: fixed;
    top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 2;
	width: 100%;
}
.pangv{
	width: 400px;
	height: 400px;
}
.pangh{
	width: 400px;
	height: 400px;
}

.News{
	height: 554px;
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;
}

