html{
	overflow-y: scroll;
}
body {
    background-color: #c5c5c5;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
.header {
	background-color: lightblue;
	width: 100%; 
	height: 240px;
	margin-bottom: -68px;
}
.header_bild{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	width: 500px; 
	height: 240px;

}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 2;
}
.menu a{
	text-align: center;	
	background-color: rgba( 0,0, 0, 0.5);
	width: 100%;
	max-width: 1280px;
	border: 1px solid black;
	border-bottom: 3px solid black;
	padding: 0.5em;
	display: block;
	text-decoration: none;
	color: white;
	font-size: 30px;

}

.menu a:hover{
	background-color: #696868;
	color: white;

}


.menu a:active{
	background-color: blue;
	color: #FF8300;
}

.about-us {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 100px;
	margin-right: 100px;
}

.about-text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 400px;
}

.pics{ 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 20px;
	margin-right: 200px;	
 }

.pang{
	margin-top: 360px;
	position: fixed;
    top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 2;
	width: 100%;
}
.pangv{
	width: 400px;
	height: 400px;
}
.pangh{
	width: 400px;
	height: 400px;
}



.specscontent{
	display: flex;
	flex-direction: column;
	align-items: center;
}

table {
	border-collapse: collapse;
}
table, tr {
	width: 400px; border: 1px solid black;
}
tr:nth-child(odd) {
	background: #89817A;
}
td:nth-child(odd) {
	background: #7B7168;
}

tr > th {
	background: #7B7168;
}
th < td{
	background: #89817A;
}
.News{
	height: 554px;
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;
}
/*
body {
	background-color: white;

}
.allt{
	height: 40em;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.uppe{ 
	flex-grow: 3;
	background-color: gray;
 }
.övre_mid{
	margin: 5px;
	width: 50em;
	flex-grow: 1;
	background-color: gray;
}
.nere_mid{
	flex-grow: 4;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.nere_mid_v{
	margin-right: 8px;
	flex-grow: 1;
	background-color: gray;
}
.nere_mid_h{
	flex-grow: 3;
	background-color: gray;
}
.nere{
	flex-grow: 3;
	background-color: gray;
}

.uppe, .nere_mid, .nere{
	width: 50em;
	height: 8em;
	margin: 4px;
}*/