body {
    background-color: #c5c5c5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.menu a{
	background-color: #55d737;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0.5em;
	margin: 0.5em;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.menu a:hover{
	background-color: #696868;
	color: white;

}

.menu a:visited {
	color: #587275;
}

.menu a:active{
	background-color: blue;
	color: #FF8300;
}
